body {
    background-color: #282c42;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color:aliceblue;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: medium;
}

h2 {
    color:aliceblue;
    text-align: left;
    font-family: "Trebuchet MS", sans-serif;
    font-size: small;
}