{% extends "base.html" %}
{% block title %}Edit Profile | JobBoard{% endblock %}
{% block content %}
<h1>Edit Your Profile</h1>
<form method="post">
    {% csrf_token %}
   <ul>
        {% if user.role == "seeker" %}
            <li>
                <label for="id_headline">Headline:</label>
                <input type="text" name="headline" id="id_headline" value="{{ initial.headline }}">
                <label>Visible to Recruiters?</label>
                <input type="checkbox" name="headline_visible" {% if initial.visibility_settings.headline %}checked{% endif %}>
            </li>
            <li>
                <label for="id_location">Location (City, State/Country):</label>
                <input type="text" name="location" id="id_location" value="{{ initial.location }}">
                <label>Visible to Recruiters?</label>
                <input type="checkbox" name="location_visible" {% if initial.visibility_settings.location %}checked{% endif %}>
            </li>
            <li>
                <label for="id_skills">Skills:</label>
                <input type="text" name="skills" id="id_skills" value="{{ initial.skills }}">
                <label>Visible to Recruiters?</label>
                <input type="checkbox" name="skills_visible" {% if initial.visibility_settings.skills %}checked{% endif %}>
            </li>
            <li>
                <label for="id_education">Education:</label>
                <input type="text" name="education" id="id_education" value="{{ initial.education }}">
                <label>Visible to Recruiters?</label>
                <input type="checkbox" name="education_visible" {% if initial.visibility_settings.education %}checked{% endif %}>
            </li>
            <li>
                <label for="id_work_experience">Work Experience:</label>
                <input type="text" name="work_experience" id="id_work_experience" value="{{ initial.work_experience }}">
                <label>Visible to Recruiters?</label>
                <input type="checkbox" name="work_experience_visible" {% if initial.visibility_settings.work_experience %}checked{% endif %}>
            </li>
            <li>
                <label for="id_links">Links:</label>
                <input type="text" name="links" id="id_links" value="{{ initial.links }}">
                <label>Visible to Recruiters?</label>
                <input type="checkbox" name="links_visible" {% if initial.visibility_settings.links %}checked{% endif %}>
            </li>
        {% endif %}
    </ul>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<a href="{% url 'accounts.profile' user.id %}" class="btn btn-info mt-2">Back to Profile</a>
{% endblock %}