{% extends "base.html" %}
{% block title %}Create Job Post | JobBoard{% endblock %}
{% block content %}

<body>
    <h1>Add Post Here</h1>
    <h2>Job Title:</h2>
    <input type="text" id="jobtitle" name="jobtitle" placeholder="Enter job title here">
    <h2>Company Name:</h2> 
    <input type="text" id="companyname" name="companyname" placeholder="Enter company name here">
    <h2>Location:</h2>
    <input type="text" id="location" name="location" placeholder="Enter location here">
    <h2>Job Description:</h2>
    <input type="text" id="jobdescription" name="jobdescription" placeholder="Enter job description here">
    <h2>Contact Email:</h2>
    <input type="text" id="contactemail" name="contactemail" placeholder="Enter contact email here">
    <br><br>
    <input type="submit" value="Submit">
</body>
{% endblock %}