{% extends "base.html" %}
{% block title %}JobBoard Find Jobs{% endblock %}
{% block content %}
<head>
    <title>List Job Posting</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<section class="search-section">
        <div class="container">
            <div class="search-wrap"> <!-- keeps bar compact -->
            <form class="row g-2 justify-content-center align-items-center">
                <div class="col-12 col-md-5">
                <input type="text" class="form-control" placeholder="Job title, keywords, or company">
                </div>
                <div class="col-12 col-md-5">
                <input type="text" class="form-control" placeholder="City, state, or zip">
                </div>
                <div class="col-12 col-md-auto">
                <button class="btn btn-primary w-100 w-md-auto">Search</button>
                </div>
            </form>
            </div>
        </div>
    </section>

<body>
</body>

</html>
{% endblock %}