{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Edit Post</h2>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <p>
                      <label for="title">Title:</label>
                      <textarea name="title" required class="form-control" id="title"></textarea>
                    </p>

                    <p>
                      <label for="description">Description:</label>
                      <textarea name="description" required class="form-control" id="description"></textarea>
                    </p>

                    <p>
                      <label for="qualifications">Qualifications:</label>
                      <textarea name="qualifications" required class="form-control" id="qualifications"></textarea>
                    </p>

                    <p>
                      <label for="skills">Skills:</label>
                      <textarea name="skills" required class="form-control" id="skills"></textarea>
                    </p>

                    <p>
                      <label for="location">Location:</label>
                      <textarea name="location" required class="form-control" id="location"></textarea>
                    </p>
                    
                    <!-- salary -->
                    <div class="row">
                      <div class="col-md-6">
                        <label for="salary_min">Minimum Salary:</label>
                          <input type="number" name="salary_min" class="form-control" id="salary_min" placeholder="e.g., 50000">
                      </div>
                      <div class="col-md-6">
                        <label for="salary_max">Maximum Salary:</label>
                         <input type="number" name="salary_max" class="form-control" id="salary_max" placeholder="e.g., 80000">
                      </div>
                    </div>

                    <p>
                      <label for="work_type">Work Type:</label>
                      <select name="work_type" class="form-control" id="work_type">
                        <option value="onsite">On-Site</option>
                        <option value="remote">Remote</option>
                        <option value="hybrid">Hybrid</option>
                      </select>
                    </p>

                    <!-- Visa Sponsorship -->
                    <p>
                      <div class="form-check">
                        <input type="checkbox" name="visa_sponsorship" class="form-check-input" id="visa_sponsorship">
                        <label class="form-check-label" for="visa_sponsorship">
                          Visa Sponsorship Available
                        </label>
                       </div>
                    </p>
          <div class="text-start">
            <button type="submit" class="btn bg-dark text-white">
              Edit Review
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>  
</div>
{% endblock content %}